html,body{
    font-family: sans-serif;
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: skyblue;
}

.logo{
    display: flex;
    justify-content: center;
}

main div a:hover{
    color: blanchedalmond;
    transition: 300ms;
}

.a {
    display: flex;
    justify-content: center;
    width: 1160px;
    height: 100%;
}

.menu a{
    color: black;
    margin-right: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 6px #5f43ff;
}

.menu{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightblue;
    border:5px inset #2746ad;     
    padding:1px;     
    background: skyblue;
}

#tit-trailer{
    font-size: 25px;
    margin-top: 80px;
    margin-left: 70px;
    text-shadow: 1px 1px 4px #5f43ff;
}

.containervideo2{
    margin-top: 30px;
}
